body {
    background-image: url('https://images.unsplash.com/photo-1597509552112-ac922fa7084e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
}
.form {
    background-image: url('https://images.unsplash.com/photo-1478127770583-0b4e3e37e22f?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
    border: 4px solid rgb(59, 8, 42);
    padding: 50px 50px 50px 50px;
    margin: 20px 350px 30px 370px;
    border-radius: 10px;
}
